<div class="music-player">
    <div class="search-bar">
        <div class="input-container">
            <input class="form-control" name="trackName" id="trackName" [(ngModel)]="trackName" placeholder="Enter track name" />
            <i class="fa fa-search search-icon"></i>
        </div>
        <button (click)="retrieveTracks()"><i class="fa fa-music button-icon"></i></button>
    </div>
    <div class="search-song">
        <div class="search-container">
            <div *ngFor="let song of possibleSongs" (click)="addTrack(song)" class="search-item">
                <img src="{{song.album.cover_small}}">
                <div class="song-name">
                    <h3>{{song.title}}</h3>
                    <h3>{{song.artist.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="search-song">
        <div class="search-container">
            <div *ngFor="let track of playList" (click)="loadTrack(track.link)" class="search-item">
                <img src="{{track.album.cover_small}}">
                <div class="song-name">
                    <h3>{{track.title}}</h3>
                    <h3>{{track.artist.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="media-footer">
        <audio #audioPlayer controls>
            
        </audio>
    </div>
</div>


