<div class="music-player">
    <div class="search">
        <input class="form-control" name="trackName" id="trackName" [(ngModel)]="trackName" placeholder="Enter track Name" />
        <button (click)="loadTrack()">Play</button>
    </div>
    <div *ngIf="possibleSongs">
        <div class="main-container">
            <div *ngFor="let song of possibleSongs">
                {{song.title}}
            </div>
            
        </div>
    </div>

    <div>
        <audio #audioPlayer controls>
            
        </audio>
    </div>
</div>


